body {
  font-family: sans-serif;
  text-align: center;
}
#carouselExample {
  height: 30rem;
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto;
}

#carouselExample img {
  height: 30rem;
  object-fit: cover;
}

#newsletter-signup {
  max-width: 30rem;
  margin: 4rem auto;
}

section {
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

#main-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
